@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-size: 18px;
    font-family: 'Fira Sans Condensed', sans-serif;
    background: linear-gradient(to right top, #063030c2, #042935e1);
}

.wrapper {
    max-width: 100%;
    overflow-x: hidden;
}

.img-back {
    width: 100%;
    height: 100vh;
    background: url('./images/back.png') center / cover no-repeat;
}

.head {
    width: 100%;
    height: 100vh;
    background: url('./images/meBack.png') center / cover no-repeat;
}

.gradient {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right top, #1b1d1de5, #1b1d1d);
}

.circle4 {
    width: 14rem;
    height: 14rem;
    bottom: 8%;
    left: 24%;
    background: #fff;
    background: linear-gradient(to right bottom,
        rgba(20, 20, 20, 0.411),
        rgba(39, 39, 39, 0.746));
    border-radius: 50%;
    position: absolute;
    z-index:-4;

}

.header {
    width: 100%;
    height: 20vh;
    padding: 2rem;
}

.header-top img {
    width: 5rem;
}

h1 {
    font-size: 55px;
}

h3 {
    font-size: 28px;
    font-family: 'Fira Sans Condensed',
        sans-serif;
    font-weight: 400;
    color: #ec4d37;
}

h4 {
    line-height: 2rem;
}

.right-bar__about h3 {
    color: #fff;
}

.middle-info {
    padding: 4rem 0rem 0rem 2rem;
    width: 50%;
}

.btn-left,
.btn-right {
    padding: 1rem;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;   
}

.btn-left {
    background: #aca8a80a;
    border: 1px solid #3d3d3d;
    color: #fff;
    backdrop-filter: blur(.2rem);
    -webkit-backdrop-filter: blur(.2rem);
    border-radius: 3rem;
}

.btn-right {
    background: #1b1d1d28;
    border: 1px solid #3d3d3d;
    color: #ec4d37;
    backdrop-filter: blur(.2rem);
    -webkit-backdrop-filter: blur(.2rem);
    border-radius: 3rem;
}

.line {
    width: 80%;
    border-top: 1px solid #fff;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 10px inset  #fff;
}

/*End of Header*/


/* section of services*/

.services-back {
    width: 100%;
    min-height: 100vh;
    background: #1b1d1d;
}

.services {
    width: 100%;
    min-height: 100vh;
    background: url('./images/ser-back.png') center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.services p {
    color: #EEFBFB;
}

.services-main {
    width: 85%;
}

.services-title {
    display: flex;
    justify-content: flex-end;
    margin: 20px 10px;
}

.ser-title-box {
    padding: 1rem;
    border: 2px solid #3d3d3d;
    border-top-right-radius: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.mid {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.bot {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.img-box {
    display: flex;
    justify-content: center;
    justify-self: flex-start;
    border: 1px solid #3d3d3d;
    padding: .2rem;
}

.line__top {
    border-top: 1px solid #3d3d3d;
}

.services-main img {
    max-width: 4rem;
    max-height: 3rem;
    
}

.fir {
    padding: 0;
    max-width: 30rem;
    border: 1px solid #3d3d3d;
    border-right: none;
    border-bottom-left-radius: 20px;
    backdrop-filter: blur(.1rem);
    -webkit-backdrop-filter: blur(.1rem);
}

.fir-flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid #3d3d3d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
}

.fir-info {
    padding: 0rem 2rem 1rem 2rem;
}

.htm {
    color: #b73225;
}

.and {
    border: none;
    color: #a0a0a0;
    font-weight: 400;
    font-size: 18px;
}

.css {
    border: none;
    color: #004e7c;
    font-weight: 400;
}

.js {
    color: #f1b24a;
}

.jav {
    color: #932432;
}

.com {
    color: #007cc7;
}

/*End of Services*/

/* main section second page */

.main {
    min-height: 100vh;
    background: url('./images/tree.png') center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-back {
    min-height: 100vh;
    width: 100%;
    /* background: linear-gradient(to right, #1b1d1dc4, #1b1d1d); */
    background: #1b1d1d;
}

.main-glass__page {
    width: 85%;
    z-index: 5;
}

.main__top-center {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: #fff;
    background: linear-gradient(to right bottom,
        #00000021,
        #00000013);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(.1rem);
}

.main__top-center img {
    width: 5rem;
}

.circle1,
.circle2 {
    background: #fff;
    background: linear-gradient(
        to right bottom,
        rgba(20, 20, 20, 0.294),
        rgb(39, 39, 39));
    border-radius: 50%;
    position: absolute;
    z-index: 4;
}

.circle1 {
    top: 5%;
    right: 1%;
    width: 10rem;
    height: 10rem;
    box-shadow: #1b1d1d 0px 22px 70px 40px;
}

.circle2 {
    bottom: 2%;
    left: 2%;
    width: 17rem;
    height: 17rem;
    box-shadow: #1b1d1d 0px 22px 70px 40px;
}

.main__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main__left-bar,
.main__mid-bar,
.main__right-bar {
    /* width: 33%; */
    text-align: center;
    padding: 10px;
    background: none;
    box-shadow: #202020 0px 22px 70px 40px
}

.main__mid-bar {
    margin: 1rem;
}

.mainbar-img {
    width: 3rem;
}
/*End of Main section*/


/* about section page */
.about {
    min-height: 100vh;
    background: url('./images/about-back.png') center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.about-back {
    min-height: 100vh;
    width: 100%;
    background: #1b1d1d;
    z-index: -11;
}

.about-glass__page {
    width: 85%;
    background: #fff;
    background: linear-gradient(to right bottom,
            #1d1b1b23,
            #1b1d1d25);
    -webkit-backdrop-filter: blur(.1rem);
    backdrop-filter: blur(.1rem);
    align-items: center;
    z-index: 5;
}

.main__info-about {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.left-bar__about img{
    max-width: 80%;
}

.left-bar__about {
    max-width: 50%;
    padding: 5rem 2rem;
    background: none;
    align-items: center;
    text-align: center;
}

.right-bar__about {
    max-width: 50%;
    padding: 5rem 2rem;
    background: none;
}

span {
    font-weight: 700;
    color: #fff;
    border: 1.5px solid #ec4d37;
    padding: 4px;
}

.right-bar__about > p {
    margin-top: 2rem;
}

.right-bar__about > .btn {
    border: 1px solid #3d3d3d;
    border-radius: 3rem;
    font-size: 12px;
    margin-top: 3rem;
    padding: 1rem;
    
}

.small {
    font-size: 12px;
}

/* footer section */


.footer-back {
    background: #1b1d1d;
    z-index: -1;
}

.footer {
    background: url('./images/footer-back.png') center / cover no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
}

.footer-left {
    width: 32%;
    margin-top: 13%;
}

.left-info,
.right-info {
    margin-top: 3rem;
}

.footer-middle {
    max-width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.line-box {
    width: 1px;
    height: 4rem;
    background: #fff;
    margin: 0px 0px 20px 0px;
}

.footer-right {
    width: 32%;
    margin-top: 13%;
}

.footer-middle img {
    max-width: 5rem;
}

.footer-middle p {
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.middle-social {
    margin: 3rem 0rem;
}

.img-svg {
    fill: #fff;
    width: 2rem;
    margin: 10px;
}

.footer-gmail__info {
    margin: 2rem 0rem 3rem 0rem;
}

.footer-gmail {
    width: 100%;
    border: 1px solid #3d3d3d;
    background: none;
    padding: 1rem;
}

.footer-btn {
    width: 100%;
    border: 1px solid #3d3d3d;
    background: none;
    color: #fff;
    padding: 1rem;
}
